<table class="table pt-4">
  <thead>
  <tr>

    <th class="checkbox-column">
      <input type="checkbox" />
    </th>

    <th style="width: 300px;">
      Company
    </th>

    <th class="text-center" style="width: 100px">
      Fit Score
      <span>
        <fa-icon [icon]="faCaretDown"></fa-icon>
      </span>
    </th>

    <th style="width: 300px">
      Industry
    </th>

    <th class="numeric" style="width: 120px">
      Revenue
    </th>

    <th class="numeric" style="width: 120px;">
      Size
    </th>

    <th class="numeric" style="width: 200px">
      Location
    </th>

    <th class="numeric" style="width: 120px">
      Verified
    </th>

    <th class="numeric" style="width: 120px">
      Machine
    </th>

  </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of mData">

      <td>
        <input type="checkbox" />
      </td>

      <td>
        <button class="btn-link" (click)="openDetails(item.id)" > {{item.company}} </button>
        <div>
          <br/>
        </div>
      </td>
      <td class="text-center">
        <div class="d-flex flex-column align-items-center">
          <div class="t-4">{{item.fit_score}}</div>
          <div class="progress progress-sm" style="width: 50px">
            <div class="progress-bar" [ngStyle]= "getClassof(item.fit_score)" ></div>
          </div>
        </div>
      </td>

      <td style="width: 200px">
        {{item.industry}}
      </td>

      <td class="numeric">
        {{item.revenue}}
      </td>

      <td class="numeric">
        {{item.size}}
      </td>

      <td>
        {{item.location}}
      </td>

      <td class="numeric">
        <a href="javascript:void(0)">
          {{item.verified}}
        </a>
      </td>

      <td class="numeric">
        <a href="javascript:void(0)">
          {{item.machine}}
        </a>
      </td>

    </tr>
  </tbody>
</table>
