<nav class="main-header navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img src="assets/images/si-logo-md.png" height="30">
    </a>
    <div class="ps-4">
      <div class="input-group">
        <div class="input-group">
          <input type="text"
                 placeholder="Search companies, contacts, lists or saved searches"
                 class="form-control"
                 style="min-width: 400px;"
          />
        </div>
      </div>
    </div>
    <div class="navbar-nav ms-auto">
      <a class="nav-item nav-link">356 / 20,000</a>
      <a class="nav-item nav-link">Support</a>
      <a class="nav-item nav-link">Training</a>
      <div class="d-inline-block dropdown">
        <a class="dropdown-toggle nav-item nav-link">
          John Smith
        </a>
      </div>
    </div>
</nav>
