<div class="pt-3">
  <div class="pb-3">
    <div class="row">
      <div class="col-3">
        <button class="btn btn-outline-primary">
          <fa-icon [icon]="faArrowLeft" class="me-2"></fa-icon>
          Back to Companies
        </button>
      </div>
      <div class="col-9">
        <div class="d-flex">
          <h2>Lam Research</h2>
          <div class="ms-auto d-flex justify-content-end">
            <div class="dropdown">
              <button class="dropdown-toggle btn btn-outline-primary">
                <fa-icon [icon]="faBellSlash" class="me-1"></fa-icon>
                <span>Alerts are off</span>
              </button>
            </div>
            <button class="btn btn-primary">
              <fa-icon [icon]="faUsers" class="me-1"></fa-icon>
              View 7,981 Contacts
            </button>
            <button class="btn btn-outline-primary me-2">
              <fa-icon [icon]="faUsers" class="me-1"></fa-icon>
              View 7,981 Contacts
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card mb-4">
        <div class="card-body d-flex justify-content-center align-items-center">
          <img src="assets/images/lam-research-logo.png" style="height:100px" alt="lam-research-logo"/>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          <h4>Executive Intel</h4>
        </div>
        <div class="card-body">
          <div style="min-height:0">
            <table class="table table-sm">
              <tbody>
                <tr>
                  <td>
                    <a href="javascript:void(0)">Tim Archer</a>
                  </td>
                  <td>CEO</td>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:void(0)">Doug Bettinger</a>
                  </td>
                  <td>CFO</td>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:void(0)">Robert Hawthorne</a>
                  </td>
                  <td>CIO</td>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:void(0)">Jason Callahan</a>
                  </td>
                  <td>CIS</td>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:void(0)">Richard Gottscho</a>
                  </td>
                  <td>CTO</td>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:void(0)">View all 8 executives...</a>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          <h4>Keywords (Beta)</h4>
        </div>
        <div class="card-body">
          <div style="min-height: 0;">
            design, implementation, manufacturer, manufacturing, networking, support, vendor
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          Subsidiaries
        </div>
        <div class="card-body">
          <div style="min-height: 0">
            <div>Lam Research</div>
            <div class="d-flex">
              <div class="me-2">⤷</div>
              <div>
                <a href="javascript:void(0)">
                  Silfex, Inc. A...
                </a>
              </div>
              <div class="ms-auto">
                <a href="javascript:void(0)">152</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="mb-4">
        <div class="row">
          <div class="col-6">
            <div class="card h-100">
              <div class="card-header">
                <h4>Firmographics</h4>
              </div>
              <div class="card-body">
                <div style="min-height: 200px">
                  <table class="table table-sm">
                    <tbody>
                      <tr>
                        <th>Sector</th>
                        <td>Information Technology; Manufacturing</td>
                      </tr>
                      <tr>
                        <th>Industry</th>
                        <td>Computer Hardware and Electronic Product Manufacturing; Machinery Manufacturing</td>
                      </tr>
                      <tr>
                        <th>NAICS Code</th>
                        <td>3334,334413,33441,3344</td>
                      </tr>
                      <tr>
                        <th>SIC Code</th>
                        <td>3674</td>
                      </tr>
                      <tr>
                        <th>Employee Count</th>
                        <td>10700</td>
                      </tr>
                      <tr>
                        <th>Annual Revenue</th>
                        <td>9653.6</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card h-100">
              <div class="card-header">
                <h4>HQ Info</h4>
              </div>
              <div class="card-body">
                <div style="min-height: 200px;">
                  <div class="row">
                    <div class="col-6">
                      <div class="d-flex">
                        <div class="me-2">
                          <fa-icon [icon]="faArrowLeft"></fa-icon>
                        </div>
                        <a href="javascript:void(0)">
                          <div>4650 Cushing Pkwy</div>
                          <div>Fremont, CA 94538-6401</div>
                        </a>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="d-flex">
                        <div class="me-2">
                          <fa-icon [icon]="faPhone"></fa-icon>
                        </div>
                        <div>+1 (510) 572-0200</div>
                      </div>
                      <div class="d-flex">
                        <div class="me-2">
                          <fa-icon [icon]="faLink"></fa-icon>
                        </div>
                        <a target="_blank" href="https://lamresearch.com">lamresearch.com</a>
                      </div>
                      <div class="d-flex">
                        <div class="me-2">
                          <fa-icon [icon]="faLinkedin"></fa-icon>
                        </div>
                        <a target="_blank" style="word-break: break-all;" href="https://www.linkedin.com/company/lam-research">https://www.linkedin.com/company/lam-research</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4">
        <div class="card">
          <div class="card-header">
            <h4>Buying Intel</h4>
          </div>
          <div class="card-body" style="min-height: 200px">
            <div class="d-flex mb-3">
              <div class="me-5">
                <app-shared-tabs>
                  <button routerlinkactive="active" class="nav-link active" routerLink="companies" routerLinkActive="active">All (79)</button>
                  <button routerlinkactive="active" class="nav-link" routerLink="contacts" routerLinkActive="active">News (50)</button>
                  <button routerlinkactive="active" class="nav-link" routerLink="lists" routerLinkActive="active">Press (26)</button>
                  <button routerlinkactive="active" class="nav-link" routerLink="saved-searches" routerLinkActive="active">Funding (2)</button>
                  <button routerlinkactive="active" class="nav-link" routerLink="icps" routerLinkActive="active">Accusations (1)</button>
                </app-shared-tabs>
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <div class="badge me-2 bg-warning text-dark">New Geography</div>
                          <div class="subdued t-3">8/4/2021 TechCrunch</div>
                        </div>
                        <div>
                          <a href="javascript:void(0)" target="_blank">
                            Lam Research Strengthens Global Manufacturing Network by
                            Opening Its Largest Manufacturing Facility in Malaysia
                          </a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <div class="badge me-2 bg-success">New Geography</div>
                          <div class="subdued t-3">8/4/2021 TechCrunch</div>
                        </div>
                        <div>
                          <a href="javascript:void(0)" target="_blank">
                            Lam Research launches Penang manufacturing facility with RM1 billion investment
                          </a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <div class="badge me-2 bg-info">New Geography</div>
                          <div class="subdued t-3">8/4/2021 TechCrunch</div>
                        </div>
                        <div>
                          <a href="javascript:void(0)" target="_blank">
                            GlobalData : Lam Research ramps up hires in Malaysia, focuses on manufacturing, supply chain operations, finds GlobalData
                          </a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <div class="badge me-2 bg-success">New Geography</div>
                          <div class="subdued t-3">8/4/2021 TechCrunch</div>
                        </div>
                        <div>
                          <a href="javascript:void(0)" target="_blank">
                            Earnings Results: Lam Research tops $4 billion in quarterly sales for first time amid semiconductor shortage
                          </a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <div class="badge me-2 bg-warning text-dark">New Geography</div>
                          <div class="subdued t-3">8/4/2021 TechCrunch</div>
                        </div>
                        <div>
                          <a href="javascript:void(0)" target="_blank">
                            Lam Research launches a new product for chip manufacturers
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div>
              <a href="javascript:void(0)">See all news</a>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4">
        <div class="card">
          <div class="card-header">
            <h4>Contact Intel</h4>
          </div>
          <div class="card-body">
            <div class="min-height: 200px;">
              <div>
                <app-shared-tabs>
                  <button routerlinkactive="active" class="nav-link active" routerLink="companies" routerLinkActive="active">Human Verified</button>
                  <button routerlinkactive="active" class="nav-link" routerLink="contacts" routerLinkActive="active">Machine Verified</button>
                  </app-shared-tabs>
              </div>
              <div>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Level</th>
                      <th class="numeric">Finance</th>
                      <th class="numeric">HR</th>
                      <th class="numeric">IT</th>
                      <th class="numeric">Legal</th>
                      <th class="numeric">Marketing</th>
                      <th class="numeric">Operations</th>
                      <th class="numeric">Procurement</th>
                      <th class="numeric">R&D</th>
                      <th class="numeric">Sales</th>
                      <th class="numeric">Cross Functional</th>
                      <th class="numeric">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Board Members</td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">2</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">2</a>
                      </td>
                    </tr>
                    <tr>
                      <td>C-level Executives</td>
                      <td class="numeric">
                        <a href="javascript:void(0)">3</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">10</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">2</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">5</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">1</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">11</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">32</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Board Members</td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">2</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">2</a>
                      </td>
                    </tr>
                    <tr>
                      <td>C-level Executives</td>
                      <td class="numeric">
                        <a href="javascript:void(0)">3</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">10</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">2</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">5</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">1</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">11</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">32</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Board Members</td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">2</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">2</a>
                      </td>
                    </tr>
                    <tr>
                      <td>C-level Executives</td>
                      <td class="numeric">
                        <a href="javascript:void(0)">3</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">10</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">2</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">5</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">1</a>
                      </td>
                      <td class="numeric">
                        <a>-</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">11</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)">32</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <a href="javascript:void(0)">See all contact details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4">
        <div class="card">
          <div class="card-header">
            <h4>Competitor Intel</h4>
          </div>
          <div class="card-body">
            <div style="min-height: 200px;">
              <div>
                <table class="table">
                  <thead>
                  <tr>
                    <th style="width: 300px;">Company Name</th>
                    <th style="width: 200px;" class="numeric">Human Verified</th>
                    <th style="width: 200px;" class="numeric">Machine Verified</th>
                    <th> </th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <a href="javascript:void(0)">Hitachi</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)" >32</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)" >4085</a>
                      </td>
                      <td> </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="javascript:void(0)">Tokyo Electron US</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)" >32</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)" >1341</a>
                      </td>
                      <td> </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="javascript:void(0)">ASML Holding NV</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)" >32</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)" >4085</a>
                      </td>
                      <td> </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="javascript:void(0)">KLA</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)" >32</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)" >1341</a>
                      </td>
                      <td> </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="javascript:void(0)">Applied Materials</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)" >32</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)" >4085</a>
                      </td>
                      <td> </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="javascript:void(0)">ASM International NV</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)" >32</a>
                      </td>
                      <td class="numeric">
                        <a href="javascript:void(0)" >1341</a>
                      </td>
                      <td> </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-0">
        <div class="card">
          <div class="card-header">
            <h4>Tech Intel</h4>
          </div>
          <div class="card-body">
            <div style="min-height: 20px;">
              <div>
                <div class="d-flex pb-3">
                  <app-shared-tabs>
                    <button routerlinkactive="active" class="nav-link" routerLink="companies" routerLinkActive="active">All</button>
                    <button routerlinkactive="active" class="nav-link active" routerLink="contacts" routerLinkActive="active">Key Technologies</button>
                  </app-shared-tabs>
                  <div class="ps-3">
                    <button class="btn btn-outline-primary">
                      <fa-icon [icon]="faSearchPlus" class="t-3 me-2"></fa-icon>  Research on Demand
                    </button>
                  </div>
                  <div class="ps-2">
                    <button class="btn btn-outline-warning">
                      <fa-icon [icon]="faFlag" class="t-3 me-2"></fa-icon>  Report
                    </button>
                  </div>
                  <div class="ms-auto" style="width: 300px">
                    <input type="text" placeholder="Search" class="form-control"/>
                  </div>
                </div>
                <div class="d-flex align-items-center pb-0 t-3">
                  <div class="pe-4" style="min-width: 140px;">
                    <button class="btn-link ms-3">
                      <span>
                        <fa-icon [icon]="faAngleDoubleDown" class="t-3 me-1"></fa-icon> Expand all
                      </span>
                    </button>
                  </div>
                  <div class="ms-auto text-end" style="min-width: 300px;">
                    <fa-icon [icon]="faStar" class="t-3 mr-2"></fa-icon>
                    = Key Technology, Provider or Product
                    <button class="btn btn-icon btn-sm">
                      <span>
                        <fa-icon [icon]="faQuestionCircle" class="t-3 me-1"></fa-icon>
                      </span>
                    </button>
                  </div>
                </div>
                <div>
                  <div class="d-flex">
                    <div class="w-33 table-header">Technology</div>
                    <div class="w-33 table-header">Provider</div>
                    <div class="w-33 table-header">Product</div>
                  </div>
                  <div>
                    <div>
                      <div class="d-flex">
                        <div class="w-33 px-3 py-2 border-bottom">
                          <button class="btn btn-icon btn-sm me-2">
                            <fa-icon [icon]="faCaretRight" ></fa-icon>
                          </button>
                          <fa-icon [icon]="faStar" class="t-3 me-2"></fa-icon>
                          Cloud Services
                        </div>
                        <div class="flex-grow-1">
                          <div class="d-flex border-bottom">
                            <div class="w-50 px-3 py-2">
                              <span class="dropdown">
                                <fa-icon [icon]="faStar" class="t-3 me-2"></fa-icon>

                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
