.card, .card .card-header {
  border: none;
  border-radius: 0;
}

.card .card-header {
  background: none;
  border-top: 3px solid #848fae;
  padding: 6px 16px;
  text-transform: uppercase;
  color: #4f5a78;
}

.btn.btn-outline-primary:hover, button.btn.btn-outline-primary:hover {
  background-color: #0daeba;
  border-color: #0daeba;
  color: #fff;
}

.btn, button.btn {
  height: 32px;
  border-radius: 100px;
  margin-right: 8px;
  padding: 6px 16px;
  font-size: 16px;
  line-height: 1em;
}

.btn.btn-outline-primary, button.btn.btn-outline-primary {
  background-color: #f0f7ff;
  border-color: #cce6ff;
  color: #647bed;
}

.btn.btn-primary, button.btn.btn-primary {
  background-color: #647bed;
  border-color: #647bed;
  color: #fff;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.dropdown, .dropleft, .dropright, .dropup {
  position: relative;
}


h4 {
  font-size: 20px;
}

h2 {
  font-size: 2rem;
}

.step-number, .subdued {
  color: #848fae;
}

.t-3 {
  font-size: 14px;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:hover {
  color: #0daeba;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: initial;
}

a {
  color: #647bed;
}

.table td, .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.numeric {
  text-align: right;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table thead th {
  border-top: none;
  border-bottom: 3px solid #647bed;
}

input.form-control, input:not([type=checkbox],[type=radio],[type=file]), select, select.form-control {
  height: 32px;
  padding: 2px 8px;
  border-color: #848fae;
}

.btn-link {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: #647bed;
}

.btn.btn-icon.btn-sm, button.btn.btn-icon.btn-sm {
  width: 24px;
  height: 24px;
  padding: 4px;
  font-size: 14px;
  line-height: 14px;
  vertical-align: initial;
}

.btn-link {
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
}
.w-33 {
  width: 33.333334%;
}

.table-header {
  padding: .75rem;
  border-bottom: 3px solid #647bed;
  font-weight: 700;
}
