<div class="pt-3">
  <div class="pb-3">
    <div class="row">
      <div class="col-3">
        <button class="btn btn-outline-primary">
          <fa-icon [icon]="faMapMarker" class="me-2"></fa-icon>
          Back to Companies
        </button>
      </div>
      <div class="col-9">
        <div class="d-flex">
          <h2>Lam Research</h2>
          <div class="ms-auto d-flex justify-content-end">
            <div class="dropdown">
              <button class="dropdown-toggle btn btn-outline-primary">
                <fa-icon [icon]="faBellSlash" class="me-1"></fa-icon>
                <span>Alerts are off</span>
              </button>
            </div>
            <button class="btn btn-primary">
              <fa-icon [icon]="faUsers" class="me-1"></fa-icon>
              View 7,981 Contacts
            </button>
            <button class="btn btn-outline-primary me-2">
              <fa-icon [icon]="faUsers" class="me-1"></fa-icon>
              View 7,981 Contacts
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card mb-4">
        <div class="card-body d-flex justify-content-center align-items-center">
          <img src="assets/images/lam-research-logo.png" style="height:100px" alt="lam-research-logo"/>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          <h4>Executive Intel</h4>
        </div>
        <div class="card-body">
          <div style="min-height:0">
            <table class="table table-sm">
              <tbody>
                <tr>
                  <td>
                    <a href="javascript:void(0)">Tim Archer</a>
                  </td>
                  <td>CEO</td>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:void(0)">Doug Bettinger</a>
                  </td>
                  <td>CFO</td>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:void(0)">Robert Hawthorne</a>
                  </td>
                  <td>CIO</td>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:void(0)">Jason Callahan</a>
                  </td>
                  <td>CIS</td>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:void(0)">Richard Gottscho</a>
                  </td>
                  <td>CTO</td>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:void(0)">View all 8 executives...</a>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          <h4>Keywords (Beta)</h4>
        </div>
        <div class="card-body">
          <div style="min-height: 0;">
            design, implementation, manufacturer, manufacturing, networking, support, vendor
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          Subsidiaries
        </div>
        <div class="card-body">
          <div style="min-height: 0">
            <div>Lam Research</div>
            <div class="d-flex">
              <div class="me-2">⤷</div>
              <div>
                <a href="javascript:void(0)">
                  Silfex, Inc. A...
                </a>
              </div>
              <div class="ms-auto">
                <a href="javascript:void(0)">152</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="mb-4">
        <div class="row">
          <div class="col-6">
            <div class="card h-100">
              <div class="card-header">
                <h4>Firmographics</h4>
              </div>
              <div class="card-body">
                <div style="min-height: 200px">
                  <table class="table table-sm">
                    <tbody>
                      <tr>
                        <th>Sector</th>
                        <td>Information Technology; Manufacturing</td>
                      </tr>
                      <tr>
                        <th>Industry</th>
                        <td>Computer Hardware and Electronic Product Manufacturing; Machinery Manufacturing</td>
                      </tr>
                      <tr>
                        <th>NAICS Code</th>
                        <td>3334,334413,33441,3344</td>
                      </tr>
                      <tr>
                        <th>SIC Code</th>
                        <td>3674</td>
                      </tr>
                      <tr>
                        <th>Employee Count</th>
                        <td>10700</td>
                      </tr>
                      <tr>
                        <th>Annual Revenue</th>
                        <td>9653.6</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card h-100">
              <div class="card-header">
                <h4>HQ Info</h4>
              </div>
              <div class="card-body">
                <div style="min-height: 200px;">
                  <div class="row">
                    <div class="col-6">
                      <div class="d-flex">
                        <div class="me-2">
                          <fa-icon [icon]="faArrowLeft"></fa-icon>
                        </div>
                        <a href="javascript:void(0)">
                          <div>4650 Cushing Pkwy</div>
                          <div>Fremont, CA 94538-6401</div>
                        </a>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="d-flex">
                        <div class="me-2">
                          <fa-icon [icon]="faPhone"></fa-icon>
                        </div>
                        <div>+1 (510) 572-0200</div>
                      </div>
                      <div class="d-flex">
                        <div class="me-2">
                          <fa-icon [icon]="faLink"></fa-icon>
                        </div>
                        <a target="_blank" href="https://lamresearch.com">lamresearch.com</a>
                      </div>
                      <div class="d-flex">
                        <div class="me-2">
                          <fa-icon [icon]="faLinkedin"></fa-icon>
                        </div>
                        <a target="_blank" style="word-break: break-all;" href="https://www.linkedin.com/company/lam-research">https://www.linkedin.com/company/lam-research</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4">
        <div class="card">
          <div class="card-header">
            <h4>Buying Intel</h4>
          </div>
          <div class="card-body" style="min-height: 200px">
            <div class="d-flex mb-3">
              <div class="me-5">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4"></div>
      <div class="mb-4"></div>
      <div class="mb-0"></div>
    </div>
  </div>
</div>
