<div>
  <div class="d-flex align-items-center pb-4">
    <div class="nav nav-pills me-4">
      <div class="nav-item">
        <button routerlinkactive="active" class="nav-link" routerLink="companies" routerLinkActive="active">Companies</button>
      </div>
      <div class="nav-item">
        <button routerlinkactive="active" class="nav-link" routerLink="contacts" routerLinkActive="active">Contacts</button>
      </div>
    </div>
    <div class="nav nav-pills">
      <div class="nav-item">
        <button class="nav-link active">All (95)</button>
      </div>
      <div class="nav-item">
        <button class="nav-link">Enriched with Human Verified data (25)</button>
      </div>
      <div class="nav-item">
        <button class="nav-link">Enriched with Machine Verified data (70)</button>
      </div>
    </div>
    <div class="ms-auto">0 of 95 selected</div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
