<div>
  <div class="d-inline-block">
    <button class="btn grade" style="background: rgb(69, 161, 99) none repeat scroll 0% 0%;"></button>
    <button class="btn grade" style="background: rgb(69, 161, 99) none repeat scroll 0% 0%;"></button>
    <button class="btn grade" style="background: rgb(69, 161, 99) none repeat scroll 0% 0%;"></button>
    <button class="btn grade" style="background: rgb(69, 161, 99) none repeat scroll 0% 0%;"></button>
    <button class="btn grade selected" style="background: rgb(69, 161, 99) none repeat scroll 0% 0%;">5</button>
  </div>
  <div class="d-inline-block ps-2 grade-label">Very Important</div>
</div>
