<div>
  <div class="d-flex align-items-center mb-3">
    <div class="nav nav-pills me-3">
      <button routerlinkactive="active" class="nav-link" routerLink="companies" routerLinkActive="active">Companies</button>
      <button routerlinkactive="active" class="nav-link" routerLink="contacts" routerLinkActive="active">Contacts</button>
      <button routerlinkactive="active" class="nav-link" routerLink="lists" routerLinkActive="active">Lists</button>
      <button routerlinkactive="active" class="nav-link" routerLink="saved-searches" routerLinkActive="active">Saved Searches</button>
      <button routerlinkactive="active" class="nav-link" routerLink="ideal-customer-profiles" routerLinkActive="active">Ideal Customer Profiles</button>
    </div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
