<div>

  <div class="row mb-4">
    <div *ngFor="let data of counterData | keyvalue" class="col-sm-2">
      <app-counter-card-dashboard [key]="data.key" [value]="data.value"></app-counter-card-dashboard>
    </div>
    <div *ngFor="let data of counterData | keyvalue" class="col-sm-2">
      <app-counter-card-dashboard [key]="data.key" [value]="data.value"></app-counter-card-dashboard>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-sm-4" *ngFor="let title of blogLinksTitle">
      <app-blog-links-dashboard [title]="title"></app-blog-links-dashboard>
    </div>
  </div>

</div>
