
<div class="card h-100" style="min-height: 300px;">
  <div class="card-header">
    <h4 class="m-0">
      {{title}}
    </h4>
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li class="mb-2">
        <div>
          <div class="badge bg-success me-2">Funding</div>
          <div class="badge bg-secondary me-2">Databricks</div>
          <span class="subdued t-3">TechCrunch 19/08/2021</span>
        </div>
        <a href="https://techcrunch.com/2021/08/18/would-the-math-work-if-databricks-were-valued-at-38b/">Would the math work if Databricks were valued at $38B?</a>
      </li>
      <li class="mb-2">
        <div>
          <div class="badge bg-warning text-dark me-2">M&A</div>
          <div class="badge bg-secondary me-2">ZOOM</div>
          <span class="subdued t-3">Forbes 17/08/2021</span>
        </div>
        <a href="https://techcrunch.com/2021/08/18/would-the-math-work-if-databricks-were-valued-at-38b/">Zoom Set To Acquire Intelligent Cloud Contact Center Five9</a>
      </li>
    </ul>
  </div>
</div>
