
<div class="card h-100" style="min-height: 300px;">
  <div class="card-header">
    <h4 class="m-0">
      {{title}}
    </h4>
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li class="mb-2">
        <div>
          <div class="badge badge-success ms-2">Funding</div>
          <div class="badge badge-dark ms-2">Databricks</div>
          <span class="subdued t-3">TechCrunch 19/08/2021</span>
        </div>
      </li>
      <a href="https://www.google.com/">Would the math work if Databricks were valued at $38B?</a>
    </ul>
  </div>
</div>
