<div class="d-flex mb-3">
  <div>
    <button class="btn btn-primary me-3" (click)="navigateToNew()">
      <fa-icon class="me-2" [icon]="faUpload"></fa-icon>
      Upload File
    </button>
    <button class="btn btn-outline-primary me-3">
      <fa-icon [icon]="faRedo" class="me-2"></fa-icon>
      Refresh
    </button>
  </div>
  <div class="ms-auto d-flex justify-content-end">
    <div class="flex-shrink-1 ms-auto">
      <input class="form-control" type="text" placeholder="Search" style="width: 300px;"/>
    </div>
    <div class="text-end" style="width: 160px;">
      <a>What is BounceIntel?</a>
    </div>
  </div>
</div>
<app-data-table></app-data-table>
