<ul class="main-nav nav nav-tabs">
  <li class="nav-item">
    <a routerlinkactive="active" class="nav-link" routerLink="/dashboard" routerLinkActive="active">
      <fa-icon [icon]="faChartBar"></fa-icon>
      Dashboard</a>
  </li>
  <li class="nav-item">
    <a routerlinkactive="active" class="nav-link " routerLink="/prospect" routerLinkActive="active">
      <fa-icon [icon]="faUsers"></fa-icon>
      Prospect</a>
  </li>
  <li class="nav-item">
    <a routerlinkactive="active" class="nav-link " routerLink="/rod" routerLinkActive="active">
      <fa-icon [icon]="faSearchPlus"></fa-icon>
      Research on Demand</a>
  </li>
  <li class="nav-item">
    <a routerlinkactive="active" class="nav-link " routerLink="/inbox-intel" routerLinkActive="active">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      InboxIntel (Beta)</a>
  </li>
  <li class="nav-item">
    <a routerlinkactive="active" class="nav-link " routerLink="/bounce-intel" routerLinkActive="active">
      <fa-icon [icon]="faPaperPlane"></fa-icon>
      BounceIntel (Beta)</a>
  </li>
  <li class="nav-item">
    <a routerlinkactive="active" class="nav-link " routerLink="/market-analysis" routerLinkActive="active">
      <fa-icon [icon]="faChartPie"></fa-icon>
      Market Analysis</a>
  </li>
  <li class="nav-item">
    <a routerlinkactive="active" class="nav-link " routerLink="/intelligence" routerLinkActive="active">
      <fa-icon [icon]="faNewspaper"></fa-icon>
      Intelligence</a>
  </li>
</ul>
