<table class="table pt-4">
  <thead>
  <tr>
    <th>
      Task Name
    </th>

    <th>
      Status
    </th>

    <th>
      Created On
      <span>▼</span>
    </th>

    <th class="text-end">
      Uploaded
    </th>

    <th style="width: 120px;">

    </th>

  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mData">

      <td >
        <a>{{item.task_name}}</a>
      </td>

      <td >
        {{item.status}}
      </td>

      <td >
        {{item.created_on}}
      </td>

      <td class="text-end">
        {{item.uploaded}}
      </td>

      <td>
        <button class="btn btn-icon btn-sm me-3">
          <fa-icon [icon]="faDownload"></fa-icon>
        </button>
        <button class="btn btn-icon btn-sm">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </td>

    </tr>
  </tbody>
</table>
